<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="student" class="tma.demo.entity.Student" scope="prototype">
  </bean>

  <bean id="subject" class="tma.demo.entity.Subject" scope="prototype">
  </bean>

  <bean id="managerStudent" class="tma.hibernate.configspring.util.ManagerStudent" scope="prototype">
  </bean>

</beans>